{% extends "base.html" %}
{% block title %}Equipos{% endblock %}

{% block content %}
<h1>Equipos</h1>

<div style="text-align:center;">
    <a class="button-link" href="{{ url_for('agregar_equipo') }}">+ Agregar Equipo</a>
</div>

<div class="table-container">
<table>
    <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Modelo</th>
        <th>Cliente</th>
        <th>Acciones</th>
    </tr>

    {% for e in equipos %}
    <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.tipo }}</td>
        <td>{{ e.modelo }}</td>
        <td>{{ e.cliente_nombre }}</td>
        <td>
            <a class="button-link" href="{{ url_for('editar_equipo', id=e.id) }}">Editar</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}

